<div class="main-container" fxLayout="column" fxLayoutAlign="center center">
    <h1>Crear o Editar Módulo</h1>
    <form [formGroup]="dataValidationForm" (ngSubmit)="callOnSubmit()">
        <div class="form-container__input" fxLayoutAlign="center stretch">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <label for="nombre">
                    <input id="nombre" fxFlexFill formControlName="nombre" matInput placeholder="Nombre del Módulo">
                </label>
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="left center">
            <button mat-raised-button color="warn" [disabled]="dataValidationForm.invalid">
                <span>Confirmar</span>
            </button>
            <button mat-raised-button color="warn" (click)="navigateToModulos()" style="margin-left: 22px;">
                Cancelar
            </button>
        </div>
    </form>
</div>