<div class="main-container" fxLayout="column" fxLayoutAlign="center center">
    <h1>Crear o Editar Usuario</h1>
    <form [formGroup]="dataValidationForm" (ngSubmit)="callOnSubmit()">
        <div class="form-container__input" fxLayoutAlign="center stretch">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <label for="nombre">
                    <input id="nombre" fxFlexFill formControlName="nombre" matInput placeholder="Nombre del Usuario">
                </label>
            </mat-form-field>

        </div>

        <div class="form-container__input" fxLayoutAlign="center stretch">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <label for="email">
                    <input id="email" fxFlexFill formControlName="email" matInput placeholder="Email del Usuario">
                </label>
            </mat-form-field>
        </div>

        <div class="form-container__input" fxLayoutAlign="center stretch">
            <mat-form-field appearance="outline">
                <mat-label>Rol</mat-label>
                <mat-select formControlName="idRol" placeholder="Seleccione un rol" [compareWith]="compareRolesObjects">
                    <mat-option *ngFor="let option of rolObservable | async" [value]="option"> 
                        {{option.nombreRol}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-card-actions fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-raised-button color="warn" [disabled]="dataValidationForm.invalid">
                <span>Confirmar</span>
            </button>
        </mat-card-actions>
    </form>
</div>
