<div fxLayout="column" fxLayoutAlign="center center" class="main-home-container">
    <mat-card class="content">
        <mat-card-content fxLayout="column" fxLayoutAlign="center left">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci aperiam aut consequatur corporis culpa
            cum deleniti distinctio dolor ducimus, error id laboriosam, libero non numquam odit, perferendis quam quia
            ratione reiciendis rem repellat sequi totam velit vitae voluptate voluptatum. 
        </mat-card-content>
    </mat-card>
</div>
