.sidenav {
  height: 100%;
  padding-top: 100px;
  background-color: #F44336;
}
  
.sidenav::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  display: none;
}
  
mat-expansion-panel {
  background-color: #D32F2F;
}
  
.nav-button {
  color: white;
  width: 100%;
}
  
.mat-icon {
  color: white;
}
  
.button-title {
  margin-right: 16px;
}