<nav class="sidenav" *ngIf="isAuthenticated() | async">
    <button mat-menu-item routerLink="/home" routerLinkActive="active" (click)="toggle()" class="nav-button">
        <mat-icon class="mat-icon">home</mat-icon>
        <span class="button-title">Home</span>
    </button>
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    <mat-icon class="mat-icon">keyboard_arrow_right</mat-icon>
                    <span style="color: white;">Administración</span>                    
                </mat-panel-description>
            </mat-expansion-panel-header>
            <button mat-menu-item routerLink="/usuarios" routerLinkActive="active" (click)="toggle()" class="nav-button">
                <span>Usuarios</span>
            </button>
            <button mat-menu-item routerLink="/roles" routerLinkActive="active" (click)="toggle()" class="nav-button">
                <span>Roles</span>
            </button>
            <button mat-menu-item routerLink="/modulos" routerLinkActive="active" (click)="toggle()" class="nav-button">               
                <span>Módulos</span>
            </button>
        </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-description>
                    <mat-icon class="mat-icon">keyboard_arrow_right</mat-icon>
                    <span style="color: white;">Ventas</span>                    
                </mat-panel-description>
            </mat-expansion-panel-header>
            <button mat-menu-item routerLink="/clientes" routerLinkActive="active" (click)="toggle()" class="nav-button">
                <span>Clientes</span>
            </button>
        </mat-expansion-panel>
    </mat-accordion>
</nav>

